doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title MetaShift
    meta(name='description', content='Easily customize link previews on social media')
    link(rel='icon', type='image/png', href='http://metashift.io/images/metashift-favicon.png')
    // Google / Search Engine Tags
    meta(itemprop='name', content='MetaShift')
    meta(itemprop='description', content='Easily customize link previews on social media')
    meta(itemprop='image', content='http://metashift.io/images/metashift-preview.png')
    // Facebook Meta Tags
    meta(property='og:url', content='https://metashift.io')
    meta(property='og:type', content='website')
    meta(property='og:title', content='MetaShift')
    meta(property='og:description', content='Easily customize link previews on social media')
    meta(property='og:image', content='http://metashift.io/images/metashift-preview.png')
    // Twitter Meta Tags
    meta(name='twitter:card', content='summary_large_image')
    meta(name='twitter:title', content='MetaShift')
    meta(name='twitter:description', content='Easily customize link previews on social media')
    meta(name='twitter:image', content='http://metashift.io/images/metashift-preview.png')
    script(src='https://use.typekit.net/vkt3faw.js')
    script.
  try{Typekit.load({ async: true });}catch(e){}

  body
    #home
  script(src="#{webpack_asset('home', 'js')}")
  link(rel='stylesheet', href="#{webpack_asset('home', 'css')}")