doctype html
html
  head
    title= title
    meta(charset='utf-8')
    title MetaShift - URL THEY ARE EDITING
    script(src='https://use.typekit.net/vkt3faw.js')
    script.
      try{Typekit.load({ async: true });}catch(e){}
    link(rel='stylesheet', href='/public/css/normalize.css')
    link(rel='stylesheet', href='/public/css/metashift.css')
  body.tk-sofia-pro
    #app
    script(src='/dist/app.js')
